#lablePickerDialoge .dialogeContent {
  padding-left: 0px;
  padding-right: 0px; }

#lablePickerDialoge .lable {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer; }
  #lablePickerDialoge .lable .iconSection {
    color: #9e9e9e; }
  #lablePickerDialoge .lable .text {
    font-size: 14px;
    flex-grow: 1; }
  #lablePickerDialoge .lable:hover {
    background-color: rgba(0, 0, 0, 0.05); }

input {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #ccc;
  outline: none;
  height: 30px; }
  input:focus {
    border-bottom: 2px solid #1b73e8; }

body {
  margin: 0px;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif; }

.button {
  padding: 8px 22px;
  border: none;
  border: 1px solid;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  background-color: transparent; }
  .button:hover {
    background-color: rgba(0, 0, 0, 0.01); }

.primary-button {
  background-color: #1b73e8;
  color: #fff;
  border: 1px solid;
  border-color: #1b73e8; }
  .primary-button:hover {
    background-color: transparent;
    color: #1b73e8; }

a {
  text-decoration: none;
  color: #1b73e8; }
  a:hover {
    color: #155ebd; }

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  background-color: darkslateblue;
  color: #fff;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  background-position: center; }
  .avatar.cameraIconButton {
    background-color: #e0e0e0; }
    .avatar.cameraIconButton .fa-user {
      font-size: 120px; }
    .avatar.cameraIconButton.imagePicked .fa-user {
      display: none; }
    .avatar.cameraIconButton button {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
      border-color: rgba(0, 0, 0, 0.5);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #fff;
      border: 0px;
      font-size: 22px;
      background-color: #8f8d8d; }
      .avatar.cameraIconButton button input {
        display: none; }
      .avatar.cameraIconButton button .lable {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer; }

#header {
  height: 50px;
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box; }
  #header #logosection {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 20px; }
    #header #logosection #logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      cursor: pointer; }
  #header #searchsection {
    flex-grow: 1; }
    #header #searchsection #searchContainer {
      position: relative;
      width: 50%;
      padding-top: 7px; }
      #header #searchsection #searchContainer button {
        position: absolute;
        border: 0px;
        background-color: transparent;
        top: 10px;
        width: 40px;
        color: #585858; }
        #header #searchsection #searchContainer button.searchButton {
          left: 0px; }
        #header #searchsection #searchContainer button.clearSearcButton {
          right: 0px;
          display: none; }
        #header #searchsection #searchContainer button div {
          width: 29px;
          height: 29px;
          display: flex;
          justify-content: center;
          align-items: center; }
        #header #searchsection #searchContainer button:hover div {
          background-color: #e8e8e8;
          border-radius: 50%; }
      #header #searchsection #searchContainer input {
        width: 100%;
        height: 35px;
        padding-left: 40px;
        background-color: #f3f3f3;
        color: #5a5a5a;
        outline: none;
        border: 0px solid;
        border-radius: 5px;
        box-sizing: border-box; }
        #header #searchsection #searchContainer input:focus {
          background-color: #fff;
          box-shadow: 0px 0px 5px #ccc; }
      #header #searchsection #searchContainer .suggestions {
        border: 1px solid #ccc;
        width: 100%;
        min-height: 90px;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px #ccc;
        position: absolute;
        display: none; }
        #header #searchsection #searchContainer .suggestions .suggestion {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0px 13px;
          font-size: 13px;
          height: 30px;
          color: #333;
          cursor: pointer; }
          #header #searchsection #searchContainer .suggestions .suggestion .email {
            color: #bdbbbb;
            font-size: 10px; }
          #header #searchsection #searchContainer .suggestions .suggestion:hover {
            background-color: #f0f0f0; }
          #header #searchsection #searchContainer .suggestions .suggestion .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: darkorange;
            border-radius: 50%;
            color: #fff; }
      #header #searchsection #searchContainer.suggestionVisible input {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; }
      #header #searchsection #searchContainer.suggestionVisible .suggestions {
        display: block; }
      #header #searchsection #searchContainer.suggestionVisible button.clearSearcButton {
        display: block; }
  #header #actionsection {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; }
    #header #actionsection img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      border: 4px solid transparent; }
      #header #actionsection img:hover {
        border-color: #f0f0f0; }
    #header #actionsection #logoutButton {
      cursor: pointer;
      font-size: 23px; }

.dialoge {
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px; }
  .dialoge.active {
    display: flex; }
  .dialoge .dialogeOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0px; }
  .dialoge .dialogeContentContainer {
    min-width: 300px;
    min-height: 200px;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; }
    .dialoge .dialogeContentContainer .dialogeTitle {
      min-height: 50px;
      display: flex;
      align-items: center;
      padding-left: 20px; }
    .dialoge .dialogeContentContainer .dialogeContent {
      flex-grow: 1;
      padding: 10px 20px; }
    .dialoge .dialogeContentContainer .dialogefooter {
      min-height: 30px;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px; }
      .dialoge .dialogeContentContainer .dialogefooter button {
        background-color: transparent;
        border: 0px;
        color: #1b73e8;
        cursor: pointer; }

#contentContiner {
  display: flex;
  height: 100%; }
  #contentContiner #sidebar {
    min-width: 200px;
    height: 100%; }
    #contentContiner #sidebar .divider {
      width: 100%;
      border-top: 1px solid #ccc;
      margin: 5px 0px; }
    #contentContiner #sidebar #creatContactBtn {
      border-radius: 50px;
      display: flex;
      align-items: center;
      height: 40px;
      width: 160px;
      font-size: 12px;
      box-shadow: 0px 0px 5px #9d9d9d;
      padding: 0px 10px;
      gap: 10px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 30px; }
    #contentContiner #sidebar #links {
      margin-top: 20px; }
      #contentContiner #sidebar #links .link {
        display: flex;
        align-items: center;
        padding: 9px 25px;
        cursor: pointer;
        justify-content: space-between;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        align-items: center; }
        #contentContiner #sidebar #links .link .content {
          display: flex;
          gap: 20px;
          align-items: center; }
          #contentContiner #sidebar #links .link .content .fa-chevron-up {
            display: none; }
        #contentContiner #sidebar #links .link .fa {
          font-size: 12px;
          color: #6e6e6e; }
        #contentContiner #sidebar #links .link:hover {
          background-color: #dfdfdf; }
        #contentContiner #sidebar #links .link.active {
          background-color: #e8f0fe; }
          #contentContiner #sidebar #links .link.active,
          #contentContiner #sidebar #links .link.active .fa {
            color: #1967d2; }
      #contentContiner #sidebar #links .dropdownSection .dropdownContent {
        display: none; }
        #contentContiner #sidebar #links .dropdownSection .dropdownContent .actions {
          display: none;
          gap: 5px; }
          #contentContiner #sidebar #links .dropdownSection .dropdownContent .actions .link:hover .actions {
            display: flex; }
            #contentContiner #sidebar #links .dropdownSection .dropdownContent .actions .link:hover .actions .actionButton .fa:hover {
              color: #3a3a3a; }
      #contentContiner #sidebar #links .dropdownSection.active > .link:first-child {
        background-color: #f1f2f3; }
        #contentContiner #sidebar #links .dropdownSection.active > .link:first-child .content .fa-chevron-up {
          display: block; }
        #contentContiner #sidebar #links .dropdownSection.active > .link:first-child .content .fa-chevron-down {
          display: none; }
      #contentContiner #sidebar #links .dropdownSection.active .dropdownContent {
        display: block; }
  #contentContiner #content {
    flex-grow: 1;
    padding-left: 20px;
    box-sizing: border-box; }
    #contentContiner #content .table {
      width: 96%; }
      #contentContiner #content .table .tableHead {
        border-bottom: 1px solid #cfcfcf;
        color: #6e6e6e;
        padding-bottom: 13px;
        margin: 20px 0px; }
        #contentContiner #content .table .tableHead.hide {
          display: none; }
      #contentContiner #content .table .actionBar {
        display: none;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        height: 50px;
        align-items: center; }
        #contentContiner #content .table .actionBar .buttons {
          display: flex;
          gap: 10px;
          padding-left: 20px; }
          #contentContiner #content .table .actionBar .buttons i {
            color: #1967d2;
            cursor: pointer; }
        #contentContiner #content .table .actionBar.active {
          display: flex; }
        #contentContiner #content .table .actionBar .rightSection {
          display: flex;
          gap: 5px;
          font-size: 12px;
          color: #1967d2; }
      #contentContiner #content .table .coulmn {
        width: 25%; }
      #contentContiner #content .table .tableHead {
        width: 100%;
        display: flex; }
        #contentContiner #content .table .tableHead .coulmn {
          flex-grow: 1;
          font-size: 12px; }
      #contentContiner #content .table .tableBody .tableRow {
        display: flex;
        width: 100%;
        min-height: 48px; }
        #contentContiner #content .table .tableBody .tableRow .coulmn {
          font-size: 11px;
          flex-grow: 1;
          padding: 8px 0px;
          padding-top: 12px;
          padding-bottom: 12px;
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 20px;
          margin-left: 20px; }
          #contentContiner #content .table .tableBody .tableRow .coulmn .checkbox {
            display: none;
            justify-content: center;
            padding-left: 5px; }
        #contentContiner #content .table .tableBody .tableRow .actionButtons {
          display: none; }
        #contentContiner #content .table .tableBody .tableRow:hover, #contentContiner #content .table .tableBody .tableRow.selected {
          background-color: #f1f1f1; }
          #contentContiner #content .table .tableBody .tableRow:hover .checkbox, #contentContiner #content .table .tableBody .tableRow.selected .checkbox {
            display: flex; }
          #contentContiner #content .table .tableBody .tableRow:hover .avatar, #contentContiner #content .table .tableBody .tableRow.selected .avatar {
            display: none; }
        #contentContiner #content .table .tableBody .tableRow:hover .actionButtons {
          display: block; }

#contactPage #contactHeader,
#contactEditorPage #contactEditorHeader {
  display: flex;
  padding-top: 20px;
  padding-left: 40px;
  gap: 30px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px; }
  #contactPage #contactHeader .avatar,
  #contactEditorPage #contactEditorHeader .avatar {
    width: 150px;
    height: 150px;
    font-size: 64px; }
  #contactPage #contactHeader .nameSection,
  #contactEditorPage #contactEditorHeader .nameSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 30vw; }
    #contactPage #contactHeader .nameSection .name,
    #contactEditorPage #contactEditorHeader .nameSection .name {
      font-size: 28px; }
    #contactPage #contactHeader .nameSection .lableSection,
    #contactEditorPage #contactEditorHeader .nameSection .lableSection {
      display: flex;
      align-items: center;
      gap: 10px; }
      #contactPage #contactHeader .nameSection .lableSection .lables,
      #contactEditorPage #contactEditorHeader .nameSection .lableSection .lables {
        display: flex;
        gap: 7px; }
        #contactPage #contactHeader .nameSection .lableSection .lables .lable,
        #contactEditorPage #contactEditorHeader .nameSection .lableSection .lables .lable {
          font-size: 12px;
          border: 1px solid;
          padding: 5px 10px;
          border-radius: 20px;
          cursor: pointer; }
          #contactPage #contactHeader .nameSection .lableSection .lables .lable:hover,
          #contactEditorPage #contactEditorHeader .nameSection .lableSection .lables .lable:hover {
            background-color: rgba(235, 235, 235, 0.2); }
      #contactPage #contactHeader .nameSection .lableSection .lablesPickerButton,
      #contactEditorPage #contactEditorHeader .nameSection .lableSection .lablesPickerButton {
        border-radius: 50%;
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        color: #1b73e8; }
        #contactPage #contactHeader .nameSection .lableSection .lablesPickerButton:hover,
        #contactEditorPage #contactEditorHeader .nameSection .lableSection .lablesPickerButton:hover {
          background-color: rgba(235, 235, 235, 0.2); }
  #contactPage #contactHeader .actionSection,
  #contactEditorPage #contactEditorHeader .actionSection {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 10px;
    margin-top: 100px; }

#contactPage #contactContentContainer {
  padding-top: 30px; }
  #contactPage #contactContentContainer .contactContent {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block; }
    #contactPage #contactContentContainer .contactContent h6 {
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: 600; }
    #contactPage #contactContentContainer .contactContent .field {
      display: flex;
      gap: 10px;
      padding-bottom: 4px;
      font-size: 13px; }

#contactEditorPage .contactEditorContent {
  width: 40vw;
  padding-left: 50px;
  padding-top: 20px; }
  #contactEditorPage .contactEditorContent .row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%; }
    #contactEditorPage .contactEditorContent .row .crossIconColumn {
      width: 40px;
      height: 40px;
      color: #ccc;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: -10px; }
      #contactEditorPage .contactEditorContent .row .crossIconColumn .fa {
        display: none; }
    #contactEditorPage .contactEditorContent .row:hover .crossIconColumn .fa {
      display: block; }
    #contactEditorPage .contactEditorContent .row .inputCoulmn {
      flex-grow: 1; }
      #contactEditorPage .contactEditorContent .row .inputCoulmn input {
        width: 100%; }
    #contactEditorPage .contactEditorContent .row .iconCoulmn .fa {
      color: #ccc; }
